<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<h4><span class="text-success"><i class="fa fa-bug"></i></span> Edycja Klienta: 
				<%= @client.first_name%><%= @client.last_name %></h4>
			<p><%= link_to 'Wróć do listy klientów', clients_path %></p>
			<hr>
		</div>
		<div class="row">
			<form>
				<%= simple_form_for(@client) do |form| %>
					<%= form.input :first_name %>
					<%= form.input :last_name %>
					<%= form.input :email %>
					<%= form.input :telephone %>
					<%= form.submit %>
				<% end %>
			</form>
		</div>
	</div>
</div>