<div class="row">
  <h1>Lista wszystkich klientów</h1>
</div>
<div class="row">
  <%= link_to "Dodaj klienta", new_client_path %>
</div>
<div class="row">
  <table class="table table-striped">
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>E-mail</th>
      <th>Telefon</th>
      <th>Akcje</th>
    </tr>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.first_name %></td>
        <td><%= client.last_name %></td>
        <td><%= client.email %></td>
        <td><%= client.telephone %></td>
        <td>
          <div class="btn-group btn-group-xs" role="group"> 
            <%= link_to 'Edytuj', edit_client_path(client), class: "btn btn-info" %>
            <%= link_to 'Usuń', client_path(client), method: :delete, data: {confirm: "Czy jesteś pewien, że chcesz usunąć klienta#{client.first_name} #{client.last_name}?"}, class: "btn btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>