<h2>Client profile</h2>

<p>First name: <%= @client.first_name %></p>
<p>First name: <%= @client.last_name %></p>
<p>E-mail: <%= @client.email %></p>
<p>Telephone: <%= @client.telephone %></p>


<p><%= link_to 'client list', clients_path %></p>


