<div class="row">
	<h1>Dodawanie nowego samochodu</h1>
</div>
<div class="row">
	<div class="col-md-6">
		<section class="form">
			<%= simple_form_for @car do |f| %>
			  <%= f.input :car_brand, placeholder: 'Marka samochodu', label: false %>
			  <%= f.input :car_model, placeholder: 'Model samochodu', label: false %>
			  <%= f.input :fuel_type, placeholder: 'Rodzaj paliwa', label: false %>
			  <%= f.input :num_of_seats, placeholder: 'Liczba miejsc', label: false, as: :integer %>
			  <%= f.input :price_per_day, placeholder: 'Cena za dzień', label: false %>
			  <%= f.button :submit, 'Zapisz' %></div>
			<% end %>
		</section>
	</div>
</div>